section{
  text-align: center;
  font-size: 20px;
}

.choice-list{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.choice-list li{
  transition: all 0.3s ease-in-out;
}

.choice-list li:hover{
  background-color: rgb(200, 200, 200);
}

.restaurant-list{
  margin-top: 20px;
}

.restaurant-list li{
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.restaurant-list li:hover{
  background-color: rgb(200, 200, 200);
}
