<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>jeju daum</title>
  </head>
  <link rel="stylesheet" href="{% static 'css/gridsystem.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <style media="screen">

  #search input{
    border: none;
    border-radius: 15px;
    border: 1px solid #e6e6e6;
    height: 30px;
    background-image: url("{% static 'img/magnifier-tool.png' %}");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 0px 12px 25px;
    font-size: 12px;
  }

  .list-img{
    background-image: url({% static 'img/list-menu.png' %});
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  </style>
  <body>
    <header>
      <nav class="row">
        <h1 class="main-logo col-lg-2"><a href="{% url 'index' %}">우리</a></h1>
        <form method="get" class="col-lg-5 push-lg-5" action="/search" id="search">
          <input name="q" type="text" size="40" />
        </form>
        <ul class="col-lg-1 push-lg-10">
          <li><a href="#"><span class="list-img"></span></a></li>
        </ul>
      </nav>

      <aside class="side-menu" id="side_menu">
        <div class="side-menu-top">

          <span class="list-img close-btn"></span>
        </div>

        <ul class="side-items line">
          <li class="side-item"><a href="{% url 'whateat' %}">뭐먹?</a></li>
          <li class="side-item"><a href="{% url 'housenet' %}">하우스</a></li>
          <li class="side-item"><a href="#">중도</a></li>
          <li class="side-item"><a href="{% url 'busline' %}">순환</a></li>
        </ul>
        <ul class="small-items line">
          <li class="small-item"><a href="{% url 'login' %}">로그인</a></li>
          <li class="small-item"><a href="#">회원가입</a></li>
          <li class="small-item"><a href="#">건의</a></li>
        </ul>
      </aside>
      <div class="overlay" aria-hidden="true"></div>
    </header>

    {% block content %}
    {% endblock %}


  </body>

  <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
</html>
