{% extends 'jejudaum/header.html' %}
{% load staticfiles %}
{% block content %}
<style media="screen">
  section{
    display: flex;
    height: 100vh;
    align-items: center;
  }

  .login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login-form{
    padding: 15px;
    background-color: rgb(240, 240, 240);
  }

  .input{
    width: 100%;
  }
</style>
<!-- 보류 현재 새로운 페이지를 만들지 아니면 그냥 이여서 만들지 결정 못하겠음  -->
<section>
  <div class="container">
    <h2 class="sr-only">login page</h2>
    <div class="row">
      <div class="login-box col-lg-12">
        <div>
          <form class="login-form" action="#" method="post">
            <h3>아이디</h3>
            <input class="input-id input" type="text" name="id">
            <h3>비밀번호</h3><p><a href="#">잊어버렸나요?</a></p>
            <input class="input-pw input" type="password" name="password">
            <input class="input-submit input" type="submit" value="Sign in">
          </form>
          <button class="input" type="button" name="button">
            회원가입
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
